@import './mixins.scss';

.form{
    @include flex-box(row, center, flex-start);
    flex-wrap: wrap;
    &__labels{
        @include flex-box(column, flex-start, flex-end);
        width: 50%;   
    }
    &__label{
        line-height: 21px;
    }
    &__inputs{
        @include flex-box(column, flex-start, flex-start);
        width: 50%;
    }
    &__input, &__label{
        margin: 10px;
    }
    &__errors{
        width: 100%;
        @include flex-box(column, center, center);   
    }
    &__error-list{
        list-style-type: square;
    }
    &__input--field{
        padding: 3px;
    }
    &__input{
        border: 0px;
    }
    &__input:focus{
        outline: none;
    }
    &__input--submit{
        font-size: 95%;
        padding: 2px 10px;
    }
    &__input:-webkit-autofill,
    &__input:-webkit-autofill:hover, 
    &__input:-webkit-autofill:focus, 
    &__input:-webkit-autofill:active{
        transition: background-color 9999999s;
        -webkit-text-fill-color: #fff !important;
    }
}

.form--new{
    @include flex-box(column, flex-start, flex-start);
    width: 100%;
    padding: 5px;
    .form__input{
        width: 100%;
    }
    .form__input--field{
        margin-bottom: 10px;
    }
    .form__input--textarea{
        min-height: 200px;
        resize: none;
    }
    .form__input--submit{
        margin-top: 10px;
        align-self: flex-end;
    }
}
