@mixin flex-box($dir, $justify, $align) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $align;
}
@mixin clear-padding-margin {
    padding: 0;
    margin: 0;
}
@mixin page-numbers-and-flexbox {
    @include flex-box(column, flex-start, flex-start);
    .pageNumbersWrapper{
        align-self: flex-end;
        @include clear-padding-margin;
        @include flex-box(row, center, center);
        margin-right: 3px;
        .pageNumberButton{
            list-style: none;
            margin: 2px;
            border: 0;
            border-radius: 3px;
            padding: 2px;
        }
        li:last-of-type{
            margin-right: 0px;
        }
        .pageList:focus{
            outline: none;
        }
    }
}