@use 'main/error';
@use 'main/threads';
@use 'main/mainPage';
@use 'main/comments';
@use 'main/form';
@import 'variables';
@import 'mixins';

main{
    margin: 10px;
    margin-top: 20px;
    padding: 5px;
    border: 0px;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
}