@import './../components/page-select.scss';

main.comments{
    @include flex-box(column, flex-start, flex-start);
    @include page-select;
    .commentsHeader{
        margin: 10px;
        margin-bottom: 0px;
    }
    .commentsWrapper{
        @include flex-box(column, flex-start, flex-start);
        border-radius: 5px;
        width: 100%;
        .commentElement{
            @include flex-box(row, flex-start, initial);
            width: 100%;
            .userBox{
                @include flex-box(column, center, center);
                border: 0;
                border-radius: 5px;
                margin: 5px;
                width: 20%;
            }
            .contentBox{
                @include flex-box(column, flex-start, initial);
                width: 80%;
                border: 0;
                margin: 5px;
                .contentInfo{
                    border-radius: 5px 5px 0px 0px;
                    height: 20px;
                }
                .contentText{
                    border-radius: 0px 0px 5px 5px;
                }
            }
        }
    }
}