@import './../mixins';

main{
    form{
        @include flex-box(row, center, flex-start);
        flex-wrap: wrap;
        .labelWrapper{
            @include flex-box(column, flex-start, flex-end);
            width: 50%;
            .formLabel{
                line-height: 21px;
            }
        }
        .inputWrapper{
            @include flex-box(column, flex-start, flex-start);
            width: 50%;
        }
        section{
            .formLabel, .formInput{
                margin: 10px;
            }
        }
    }
    input[type=text], input[type=email], input[type=password]{
        padding: 3px;
    }
    input, textarea, button{
        border: 0px;
    }
    input:focus, textarea:focus, button:focus{
        outline: none;
    }
    input[type=submit], input[type=reset], input[type=button], button{
        font-size: 95%;
    }
    form#newThreadForm, form#newCommentForm{
        @include flex-box(column, flex-start, flex-start);
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        input[type=text]{
            margin-bottom: 10px;
        }
        input[type=text], textarea{
            width: 100%;
            box-sizing: border-box;
        }
        textarea{
            min-height: 200px;
            resize: none;
        }
        label{
            h3{
                margin: 0px;
            }
        }
        input[type=submit]{
            margin-top: 10px;
            align-self: flex-end;
        }
    }
}