@import './../mixins';

main{
    form{
        @include flex-box(row, center, flex-start);
        flex-wrap: wrap;
        .labelWrapper{
            @include flex-box(column, flex-start, flex-end);
            width: 50%;
            .formLabel{
                line-height: 21px;
            }
        }
        .inputWrapper{
            @include flex-box(column, flex-start, flex-start);
            width: 50%;
        }
        section{
            .formLabel, .formInput{
                margin: 10px;
            }
        }
    }
}