main.mainPage{
    a{
        text-decoration: none;
        .singleCategory{
            padding-left: 10px;
            border: 2px solid black;
            margin: 3px;
            
        }
    }
}