main.mainPage{
    a{
        text-decoration: none;
        .singleCategory{
            border-radius: 5px;
            margin: 3px;
            margin-bottom: 10px;
            padding: 10px;
            h2{
                margin-top: 0px;
            }
            h4{
                margin: 0px;
            } 
        }
    }
    a:last-of-type{
        .singleCategory{
            margin-bottom: 3px;
        }
    }
}