@import './../mixins';

main.newThread{
    form{
        @include flex-box(column, flex-start, flex-start);
        #title, #content{
            width: 100%;
            box-sizing: border-box;
        }
        #content{
            min-height: 200px;
            resize: none;
        }
        label{
            h3{
                margin: 0px;
            }
        }
        .submitButton{
            margin-top: 10px;
            align-self: flex-end;
        }
    }
}