@import './../components/page-select.scss';

main.threads{
    @include flex-box(column, flex-start, flex-start);
    @include page-select;
    .headerWrapper{
        @include flex-box(row, flex-end, flex-start);
        width: 100%;
        margin-bottom: 10px;
        .threadsHeader{
            @include clear-padding-margin;
            margin-left: 10px;
            margin-top: 10px;
            margin-right: auto;
        }
        a{
            margin-top: 10px;
            margin-right: 3px;
            .newThreadButton{
                border: 0px;
            }
        }
    }
    .threadsWrapper{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        width: 100%;
        a{
            text-decoration: none;
            .threadElement{
                border-radius: 5px;
                margin: 3px;
                margin-bottom: 10px;
                padding: 10px;
                h2{
                    margin-top: 0px;
                }
                h4{
                    margin: 0px;
                    font-style: italic;
                }
            }
        }
        a:first-of-type{
            .threadElement{
                margin-top: 10px;
            }
        }
    }
}