.category{
    text-decoration: none;
    &__section{
        border-radius: 5px;
        margin: 3px;
        margin-bottom: 10px;
        padding: 20px;
    }
    &__title{
        margin-top: 0px;
    }
}
.category:last-of-type{
    .category__section{
        margin-bottom: 3px;
    }
}