.navigation{
    &__theme--night{
        .navigation__theme-circle{
            animation-name: nightThemeAnimation;
            animation-duration: 0.5s;
        }
    }
    &__theme--day{
        .navigation__theme-circle{
            animation-name: dayThemeAnimation;
            animation-duration: 0.5s;
        }
    }
}

@keyframes nightThemeAnimation{
    from{
        left: 51.25%;
    }
    to{
        left: 0px;
    }
}

@keyframes dayThemeAnimation{
    from{
        left: 0px;
    }
    to{
        left: 51.25%;
    }
}