// style
$bodyBgColor: #d0d0ff;
$globalFontColor: white;

// header
$headerBgColor: #c0c0fd;

// section
$mainBgColor: white;
$mainFontColor: black;
$sectionBorderColor: #dadaff;
$sectionBgColor: #f2f2ff;
$pageNumberButtonColor: #ebebff;