// style
$bodyBgColor: #d0d0ff;
$globalFontColor: white;

// header
$headerBgColor: #c0c0fd;

// section
$mainBgColor: white;
$mainFontColor: black;
$sectionBorderColor: #dadaff;
$sectionBgColor: #f2f2ff;
$pageNumberButtonColor: #ebebff;

//  comment
$commentElementBgColor: darken(#f2f2ff, 1%);
$userBoxBgColor: darken(#f2f2ff, 3%);
$contentInfoBgColor: darken(#f2f2ff, 5%);
$contentTextBgColor: darken(#f2f2ff, 3%);