@import 'day-variables';


body.day{
    color: $globalFontColor;
    background-color: $bodyBgColor;
    .navigation{
        background-color: $headerBgColor;
        &__link--login:hover, &__link--register:hover{
            background-color: darken($headerBgColor, 3%);
        }
        &__link{
            color: $globalFontColor;
        }
        &__theme{
            background-color: darken($headerBgColor, 4%);
            &-circle{
                background-color: $headerBgColor;
                border-color: lighten($headerBgColor, 3%);
                right: 0px;
            }
            &-image{
                filter: invert(1);
            }
        }
    }
    .main{
        background-color: $mainBgColor;
        color: $mainFontColor;
        .category, .thread{
            color: $mainFontColor;
        }
        .form__input, .threads__button{
            border: 0px;
            color: $mainFontColor;
            background-color: $pageNumberButtonColor;
        }
        .form__input--submit:hover .threads__button:hover{
            background-color: darken($pageNumberButtonColor, 2%);
        }
        .form__input--submit:focus, .threads__button:focus{
            background-color: darken($pageNumberButtonColor, 3%);
        }
        .form__input, .threads__button, .page-select__element{
            box-shadow: 0px 0px 1px 1px lighten($pageNumberButtonColor, 4%);
        }
    }
    .category__section{
        color: $mainFontColor;
        border-color: $sectionBorderColor;
        background-color: $sectionBgColor;
    }
    .category__section:hover{
        background-color: darken($sectionBgColor, 1%);
    }
    .thread__wrapper{
        color: $mainFontColor;
        background-color: $sectionBgColor;
        border-color: $sectionBorderColor;
    }
    .thread__wrapper:hover{
        background-color: darken($sectionBgColor, 1%);
    }
    .comment{
        background-color: $commentElementBgColor;
        .comment__user-box{
            background-color: $userBoxBgColor;
        }
        .comment__content-info{
            background-color: $contentInfoBgColor;
        }
        .comment__content-text{
            background-color: $contentTextBgColor;
        }
    }
    .page-select__element{
        background-color: $pageNumberButtonColor;
    }
    .page-select__element:hover{
        background-color: darken($pageNumberButtonColor, 2%);
    }
    .page-select__element--list{
        color: $mainFontColor;
    }
}