@import 'night-variables';

body.night{
    color: $globalFontColor;
    background-color: $bodyBgColor;
    .navigation{
        background-color: $headerBgColor;
        &__link:hover{
            background-color: lighten($headerBgColor, 2%);
        }
        &__link{
            color: $globalFontColor;
        }
        &__theme{
            background-color: lighten($headerBgColor, 10%);
            &-circle{
                background-color: $headerBgColor;
                border-color: lighten($headerBgColor, 3%);
                left: 0px;
            }
            &-image{
                filter: invert(1);
            }
        }
    }
    .main{
        background-color: $mainBgColor;
        color: $mainFontColor;
        .category, .thread{
            color: $mainFontColor;
        }
        .form__input, .threads__button{
            color: $mainFontColor;
            background-color: lighten($mainBgColor, 3%);
        }
        .form__input--submit:hover .threads__button:hover{
            background-color: lighten($mainBgColor, 4%);
        }
        .form__input--submit:focus, .threads__button:focuss{
            background-color: lighten($mainBgColor, 5%);
        }
    }
    .category__section{
        border-color: $sectionBorderColor;
        background-color: $sectionBgColor;
    }
    .category__section:hover{
        background-color: lighten($sectionBgColor, 1%);
    }
    .thread__wrapper{
        border-color: $sectionBorderColor;
        background-color: $sectionBgColor;
    }
    .thread__wrapper:hover{
        background-color: lighten($sectionBgColor, 1%);
    }
    .comment{
        background-color: $commentElementBgColor;
        .comment__user-box{
            background-color: $userBoxBgColor;
        }
        .comment__content-info{
            background-color: $contentInfoBgColor;
        }
        .comment__content-text{
            background-color: $contentTextBgColor;
        }
    }
    .page-select__element{
        background-color: $pageNumberButtonColor;
    }
    .page-select__element:hover{
        background-color: lighten($pageNumberButtonColor, 2%);
    }
    .page-select__element--list{
        color: $mainFontColor;
    }
}
