// style
$bodyBgColor: #272727;
$globalFontColor: white;

// header
$headerBgColor: #222222;

// section
$mainBgColor: #222222;
$mainFontColor: $globalFontColor;
$sectionBorderColor: darken($mainBgColor, 1%);
$sectionBgColor: #2b2b2b;
$pageNumberButtonColor: #2e2e2e;

//  comment
$commentElementBgColor: #242424;
$userBoxBgColor: #2b2b2b;
$contentInfoBgColor: #272727;
$contentTextBgColor: #2b2b2b;
