@import 'night-variables';

body.night{
    color: $globalFontColor;
    background-color: $bodyBgColor;
    nav{
        background-color: $headerBgColor;
        .loginLink:hover, .registerLink:hover{
            background-color: lighten($headerBgColor, 2%);
        }
        .loginLink, .registerLink, .mainLink{
            color: $globalFontColor;
        }
        .themeImages{
            filter: invert(1);
        }
        .themeImages:hover{
            filter: invert(0.95);
        }
    }
    main{
        background-color: $mainBgColor;
        color: $mainFontColor;
        a{
            color: $mainFontColor;
        }
        input, textarea, button{
            color: $mainFontColor;
            background-color: lighten($mainBgColor, 3%);
        }
        input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover, button:hover{
            background-color: lighten($mainBgColor, 4%);
        }
        input[type=submit]:focus, input[type=reset]:focus, input[type=button]:focus, button:focus{
            background-color: lighten($mainBgColor, 5%);
        }
    }
    main.mainPage{
        section{
            border-color: $sectionBorderColor;
            background-color: $sectionBgColor;
        }
        section:hover{
            background-color: lighten($sectionBgColor, 1%);
        }
    }
    main.threads, main.comments{
        .pageNumbersWrapper{
            .pageNumberButton{
                background-color: $pageNumberButtonColor;
            }
            .pageNumberButton:hover{
                background-color: lighten($pageNumberButtonColor, 2%);
            }
            .pageList{
                color: $mainFontColor;
            }
        }
    }
    main.threads{
        section.threadsWrapper{
            a{  
                section{
                    border-color: $sectionBorderColor;
                    background-color: $sectionBgColor;
                }
                section:hover{
                    background-color: lighten($sectionBgColor, 1%);
                }
            }
        }
    }
    main.comments{
        .commentsWrapper{
            .commentElement{
                background-color: $commentElementBgColor;
                .userBox{
                    background-color: $userBoxBgColor;
                }
                .contentBox{
                    .contentInfo{
                        background-color: $contentInfoBgColor;
                    }
                    .contentText{
                        background-color: $contentTextBgColor;
                    }
                }
            }
        }
    }
}