@import 'nightVariables';

body.night{
    color: $globalFontColor;
    background-color: $bodyBgColor;
    nav{
        background-color: $headerBgColor;
        .loginLink:hover, .registerLink:hover{
            background-color: darken($headerBgColor, 4%);
        }
        .loginLink, .registerLink, .mainLink{
            color: $globalFontColor;
        }
        .themeImages{
            filter: invert(1);
        }
        .themeImages:hover{
            filter: invert(0.95);
        }
    }
    main{
        background-color: $mainBgColor;
        color: $mainFontColor;
        a{
            color: $mainFontColor;
        }
        
    }
    main.mainPage{
        section{
            border-color: $sectionBorderColor;
        }
    }
    main.section, main.thread{
        .pageNumbersWrapper{
            .pageNumberButton{
                background-color: $pageNumberButtonColor;
            }
            .pageList{
                color: $mainFontColor;
            }
        }
    }
    main.thread{
        .commentsWrapper{
            .commentElement{
                background-color: $commentElementBgColor;
                .userBox{
                    background-color: $userBoxBgColor;
                }
                .contentBox{
                    .contentInfo{
                        background-color: $contentInfoBgColor;
                    }
                    .contentText{
                        background-color: $contentTextBgColor;
                    }
                }
            }
        }
    }
}