nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #c0c0fd;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
nav h1 {
  padding-left: 15px;
  margin-right: auto;
}
nav .navButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  color: white;
  background-color: #ffffff00;
  border: 0;
}
nav .navButtons:hover {
  background-color: #b1b1fd;
}
main {
  margin: 10px;
  margin-top: 20px;
  padding: 5px;
  background-color: #ffffff;
  border: 0px;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
}

html body {
  margin: 0;
  padding: 0;
  background-color: #d0d0ff;
}